<h2>Edit Product</h2>

<form action="/products/<%= @product.id %>" method="post">
	<input type="hidden" name="_method" value="patch" />
	<div>
		Title: <input type="text" name="name" value="<%= @product.name %>">
	</div>
	<div>
		Price: <input type="text" name="price" value="<%= @product.price %>">
	</div>
	<div>
		Description <textarea cols="30" rows="10" name = "description"><%= @product.description %></textarea>
	</div>
	<div>
		Supplier:
		<select name="supplier_id">
			<% @suppliers.each do |supplier| %>
			<option value="<%= supplier.id %>"><%= supplier.name %></option>
			<% end %>
		</select>
	</div>

	<input type="submit" value="Update">

	<div>
	<button><a href="/products/<%= @product.id %>" data-method="delete">Delete</a></button>
	</div>
</form>